@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Rubik:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap");
@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

:root {
  --light: #fff;
  --dark: #444;
  --yellow: #fbd743;
  --red: #ff1f1f;
  --light-blue: #5db9ff;
  --blue: #363b81;
  /* badge colors */
  --badge-normal: #a8a77a;
  --badge-fire: #ee8130;
  --badge-water: #6390f0;
  --badge-electric: #f7d02c;
  --badge-grass: #7ac74c;
  --badge-ice: #96d9d6;
  --badge-fighting: #c22e28;
  --badge-poison: #a33ea1;
  --badge-ground: #e2bf65;
  --badge-flying: #a98ff3;
  --badge-psychic: #f95587;
  --badge-bug: #a6b91a;
  --badge-rock: #b6a136;
  --badge-ghost: #735797;
  --badge-dragon: #6f35fc;
  --badge-dark: #705746;
  --badge-steel: #b7b7ce;
  --badge-fairy: #d685ad;
  --badge-light: #f5f5f5;
}

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: Rubik;
}

.mockimon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 16px;
}

.mocki-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  padding: 4px;
  width: 348px;
  height: 348px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--light);
}

.mocki-card > h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
  margin: 0px;
  text-align: center;
}

.mockimon-detail {
  display: flex;
  flex-direction: column;
}

.mockimon-detail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.mockimon-api-details-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 390px;
  width: 100%;
}

.mockimon-details-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 100%;
}

.mockimon-info-container > h3 {
  margin: 3px 0px;
}

.mockimon-size {
  max-width: 300px;
}

.size-stat > .label {
  font-weight: 600;
  display: inline-block;
}

.size-stat > .description {
  display: inline-block;
  margin-left: 7px;
}

.mockimon-name {
  text-transform: capitalize;
  text-align: center;
}
.mockimon-name > span {
  color: #888;
}

.mockimon-image {
  max-width: 390px;
  max-height: 390px;
}

.mockimon-type-badge {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--light);
  text-transform: capitalize;
  text-align: center;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    0px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.mockimon-type-badge.light {
  background-color: var(--badge-light);
  color: var(--dark);
}

.mockimon-type-badge.normal {
  background-color: var(--badge-normal);
}

.mockimon-type-badge.fire {
  background-color: var(--badge-fire);
}

.mockimon-type-badge.water {
  background-color: var(--badge-water);
}

.mockimon-type-badge.electric {
  background-color: var(--badge-electric);
}

.mockimon-type-badge.grass {
  background-color: var(--badge-grass);
}

.mockimon-type-badge.ice {
  background-color: var(--badge-ice);
}

.mockimon-type-badge.fighting {
  background-color: var(--badge-fighting);
}

.mockimon-type-badge.poison {
  background-color: var(--badge-poison);
}

.mockimon-type-badge.ground {
  background-color: var(--badge-ground);
}

.mockimon-type-badge.flying {
  background-color: var(--badge-flying);
}

.mockimon-type-badge.psychic {
  background-color: var(--badge-psychic);
}

.mockimon-type-badge.bug {
  background-color: var(--badge-bug);
}

.mockimon-type-badge.rock {
  background-color: var(--badge-rock);
}

.mockimon-type-badge.ghost {
  background-color: var(--badge-ghost);
}

.mockimon-type-badge.dragon {
  background-color: var(--badge-dragon);
}

.mockimon-type-badge.dark {
  background-color: var(--badge-dark);
}

.mockimon-type-badge.steel {
  background-color: var(--badge-steel);
}

.mockimon-type-badge.fairy {
  background-color: var(--badge-fairy);
}

.modal-overlay {
  width: 500px;
  height: 500px;
}

.json-box {
  padding: 16px;
  background-color: var(--dark);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.json-box code {
  font-size: 14px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  color: var(--yellow);
}

.json-box code .string {
  color: var(--red);
}

.json-box code .number {
  color: var(--yellow);
}

.json-box code .boolean {
  color: var(--light-blue);
}

.json-box code .null {
  color: calc(var(--blue) * 0.5);
}

.json-box code .key {
  color: #ddd;
}
